/* 常用 综合布局 */

.row-center-center {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.row-center-end {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: center;
}

.row-center-start {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
}

.row-start-center {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.row-start-start {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.row-start-end {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: flex-start;
}

.row-end-center {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
}

.row-end-start {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-end;
}

.row-end-end {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: flex-end;
}

.row-between-center {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.row-between-start {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.row-between-end {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: space-between;
}

.row-around-center {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

.row-around-end {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;
	justify-content: space-around;
}

.row-around-start {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-around;
}

.column-between-center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: center;
	justify-content: space-between;
}

.column-between-start {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-start;
	justify-content: space-between;
}

.column-between-end {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-end;
	justify-content: space-between;
}

.column-start-end {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-end;
	justify-content: flex-start;
}

.column-start-center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: center;
	justify-content: flex-start;
}

.column-start-start {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-start;
	justify-content: flex-start
}

.column-end-start {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-start;
	justify-content: flex-end;
}

.column-end-end {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-end;
	justify-content: flex-end;
}

.column-end-center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: center;
	justify-content: flex-end;
}

.column-center-center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: center;
	justify-content: center;
}

.column-center-end {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-end;
	justify-content: center;
}

.column-center-start {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-start;
	justify-content: center;
}

.column-around-start {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-start;
	justify-content: space-around;
}

.column-around-end {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: flex-end;
	justify-content: space-around;
}

.column-around-center {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	align-items: center;
	justify-content: space-around;
}


/*  */

.d-block {
	display: block;
}

/* 容器 */

.container {
	width: 100%;
	box-sizing: border-box;
	padding: 0rpx 30rpx;
	position: relative;
	background-color: white;
}

.fluid {
	position: absolute;
	left: 0rpx;
	right: 0rpx;
}

.container-fluid {
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	box-sizing: border-box;
	justify-items: center;
}

.row-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.column-nowrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-content-start {
	align-content: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-between {
	align-items: space-between;
}

.align-items-around {
	align-items: space-around;
}

.align-self-center {
	align-self: center;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-stretch {
	align-self: stretch;
}

.flex-shrink {
	/* #ifndef APP-PLUS-NVUE */
	flex-shrink: 0;

	/* #endif */
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.flex-grow {
	/* #ifdef APP-NVUE */
	flex: 1;

	/* #endif */
	/* #ifndef APP-NVUE */
	flex-grow: 1;

	/* #endif */
}

.col {
	/* #ifdef APP-NVUE */
	flex: 1;

	/* #endif */
	/* #ifndef APP-NVUE */
	flex-grow: 1;

	/* #endif */
	flex-shrink: 0;
	max-width: 100%;
}

.col-1 {
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-2 {
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.col-5 {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.col-8 {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.col-11 {
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.offset-0 {
	margin-left: 0;
}

.offset-1 {
	margin-left: 8.333333%;
}

.offset-2 {
	margin-left: 16.666667%;
}

.offset-3 {
	margin-left: 25%;
}

.offset-4 {
	margin-left: 33.333333%;
}

.offset-5 {
	margin-left: 41.666667%;
}

.offset-6 {
	margin-left: 50%;
}

.offset-7 {
	margin-left: 58.333333%;
}

.offset-8 {
	margin-left: 66.666667%;
}

.offset-9 {
	margin-left: 75%;
}

.offset-10 {
	margin-left: 83.333333%;
}

.offset-11 {
	margin-left: 91.666667%;
}

/* padding all   */
.p-all-0 {
	padding: 0rpx !important;
}

.p-all-1 {
	padding: 2rpx;
}

.p-all-2 {
	padding: 4rpx;
}

.p-all-3 {
	padding: 6rpx;
}

.p-all-4 {
	padding: 8rpx;
}

.p-all-5 {
	padding: 10rpx;
}

.p-all-6 {
	padding: 12rpx;
}

.p-all-7 {
	padding: 14rpx;
}

.p-all-8 {
	padding: 16rpx;
}

.p-all-9 {
	padding: 18rpx;
}

.p-all-10 {
	padding: 20rpx;
}

.p-all-11 {
	padding: 22rpx;
}

.p-all-12 {
	padding: 24rpx;
}

.p-all-13 {
	padding: 26rpx;
}

.p-all-15 {
	padding: 30rpx;
}

/*padding-l */

.p-lr-1 {
	padding-left: 2rpx;
	padding-right: 2rpx;
}

.p-lr-2 {
	padding-left: 4rpx;
	padding-right: 4rpx;
}

.p-lr-3 {
	padding-left: 6rpx;
	padding-right: 6rpx;
}

.p-lr-4 {
	padding-left: 8rpx;
	padding-right: 8rpx;
}

.p-lr-5 {
	padding-left: 10rpx;
	padding-right: 10rpx;
}

.p-lr-6 {
	padding-left: 12rpx;
	padding-right: 12rpx;
}

.p-lr-7 {
	padding-left: 14rpx;
	padding-right: 14rpx;
}

.p-lr-8 {
	padding-left: 16rpx;
	padding-right: 16rpx;
}

.p-lr-9 {
	padding-left: 18rpx;
	padding-right: 18rpx;
}

.p-lr-10 {
	padding-left: 20rpx;
	padding-right: 20rpx;
}

.p-lr-11 {
	padding-left: 22rpx;
	padding-right: 22rpx;
}

.p-lr-12 {
	padding-left: 24rpx;
	padding-right: 24rpx;
}

.p-lr-13 {
	padding-left: 26rpx;
	padding-right: 26rpx;
}

.p-lr-14 {
	padding-left: 28rpx;
	padding-right: 28rpx;
}

.p-lr-15 {
	padding-left: 30rpx;
	padding-right: 30rpx;
}

/* padding-tb */

.p-tb-1 {
	padding-top: 2rpx;
	padding-bottom: 2rpx;
}

.p-tb-2 {
	padding-top: 4rpx;
	padding-bottom: 4rpx;
}

.p-tb-3 {
	padding-top: 6rpx;
	padding-bottom: 6rpx;
}

.p-tb-4 {
	padding-top: 8rpx;
	padding-bottom: 8rpx;
}

.p-tb-5 {
	padding-top: 10rpx;
	padding-bottom: 10rpx;
}

.p-tb-6 {
	padding-top: 12rpx;
	padding-bottom: 12rpx;
}

.p-tb-7 {
	padding-top: 14rpx;
	padding-bottom: 14rpx;
}

.p-tb-8 {
	padding-top: 16rpx;
	padding-bottom: 16rpx;
}

.p-tb-9 {
	padding-top: 18rpx;
	padding-bottom: 18rpx;
}

.p-tb-10 {
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

.p-tb-11 {
	padding-top: 22rpx;
	padding-bottom: 22rpx;
}

.p-tb-12 {
	padding-top: 24rpx;
	padding-bottom: 24rpx;
}

.p-tb-13 {
	padding-top: 26rpx;
	padding-bottom: 26rpx;
}

.p-tb-14 {
	padding-top: 28rpx;
	padding-bottom: 28rpx;
}

.p-tb-15 {
	padding-top: 30rpx;
	padding-bottom: 30rpx;
}

.p-b-1 {
	padding-bottom: 2rpx;
}

.p-b-2 {
	padding-bottom: 4rpx;
}

.p-b-3 {
	padding-bottom: 6rpx;
}

.p-b-4 {
	padding-bottom: 8rpx;
}

.p-b-5 {
	padding-bottom: 10rpx;
}

.p-b-6 {
	padding-bottom: 12rpx;
}

.p-b-7 {
	padding-bottom: 14rpx;
}

.p-b-8 {
	padding-bottom: 16rpx;
}

.p-b-9 {
	padding-bottom: 18rpx;
}

.p-b-10 {
	padding-bottom: 20rpx;
}

.p-b-11 {
	padding-bottom: 22rpx;
}

.p-b-12 {
	padding-bottom: 24rpx;
}

.p-b-13 {
	padding-bottom: 26rpx;
}

.p-b-14 {
	padding-bottom: 28rpx;
}


.p-b-15 {
	padding-bottom: 30rpx;
}

.p-t-1 {
	padding-top: 2rpx;
}

.p-t-2 {
	padding-top: 4rpx;
}

.p-t-3 {
	padding-top: 6rpx;
}

.p-t-4 {
	padding-top: 8rpx;
}

.p-t-5 {
	padding-top: 10rpx;
}

.p-t-6 {
	padding-top: 12rpx;
}

.p-t-7 {
	padding-top: 14rpx;
}

.p-t-8 {
	padding-top: 16rpx;
}

.p-t-9 {
	padding-top: 18rpx;
}

.p-t-10 {
	padding-top: 20rpx;
}

.p-t-11 {
	padding-top: 22rpx;
}

.p-t-12 {
	padding-top: 24rpx;
}

.p-t-13 {
	padding-top: 26rpx;
}

.p-t-14 {
	padding-top: 28rpx;
}

.p-t-15 {
	padding-top: 30rpx;
}

.p-l-1 {
	padding-left: 2rpx;
}

.p-l-2 {
	padding-left: 4rpx;
}

.p-l-3 {
	padding-left: 6rpx;
}

.p-l-4 {
	padding-left: 8rpx;
}

.p-l-5 {
	padding-left: 10rpx;
}

.p-l-6 {
	padding-left: 12rpx;
}

.p-l-7 {
	padding-left: 14rpx;
}

.p-l-8 {
	padding-left: 16rpx;
}

.p-l-9 {
	padding-left: 18rpx;
}

.p-l-10 {
	padding-left: 20rpx;
}

.p-l-11 {
	padding-left: 22rpx;
}

.p-l-12 {
	padding-left: 24rpx;
}

.p-l-13 {
	padding-left: 26rpx;
}

.p-l-14 {
	padding-left: 28rpx;
}

.p-l-15 {
	padding-left: 30rpx;
}

.p-r-1 {
	padding-right: 2rpx;
}

.p-r-2 {
	padding-right: 4rpx;
}

.p-r-3 {
	padding-right: 6rpx;
}

.p-r-4 {
	padding-right: 8rpx;
}

.p-r-5 {
	padding-right: 10rpx;
}

.p-r-6 {
	padding-right: 12rpx;
}

.p-r-7 {
	padding-right: 14rpx;
}

.p-r-8 {
	padding-right: 16rpx;
}

.p-r-9 {
	padding-right: 18rpx;
}

.p-r-10 {
	padding-right: 20rpx;
}

.p-r-11 {
	padding-right: 22rpx;
}

.p-r-12 {
	padding-right: 24rpx;
}

.p-r-13 {
	padding-right: 26rpx;
}

.p-r-14 {
	padding-right: 28rpx;
}

.p-r-15 {
	padding-right: 30rpx;
}

p-all-0 {
	padding: 0rpx;
}

/* margin */

.m-all-0 {
	margin: 0rpx;
}

.m-all-1 {
	margin: 2rpx;
}

.m-all-2 {
	margin: 4rpx;
}

.m-all-3 {
	margin: 6rpx;
}

.m-all-4 {
	margin: 8rpx;
}

.m-all-5 {
	margin: 10rpx;
}

.m-all-6 {
	margin: 12rpx;
}

.m-all-7 {
	margin: 14rpx;
}

.m-all-8 {
	margin: 16rpx;
}

.m-all-9 {
	margin: 18rpx;
}

.m-all-10 {
	margin: 20rpx;
}

.m-all-11 {
	margin: 22rpx;
}

.m-all-12 {
	margin: 24rpx;
}

.m-all-13 {
	margin: 26rpx;
}

.m-all-14 {
	margin: 28rpx;
}

.m-all-15 {
	margin: 30rpx;
}

/*margin-l */

.m-lr-1 {
	margin-left: 2rpx;
	margin-right: 2rpx;
}

.m-lr-2 {
	margin-left: 4rpx;
	margin-right: 4rpx;
}

.m-lr-3 {
	margin-left: 6rpx;
	margin-right: 6rpx;
}

.m-lr-4 {
	margin-left: 8rpx;
	margin-right: 8rpx;
}

.m-lr-5 {
	margin-left: 10rpx;
	margin-right: 10rpx;
}

.m-lr-6 {
	margin-left: 12rpx;
	margin-right: 12rpx;
}

.m-lr-7 {
	margin-left: 14rpx;
	margin-right: 14rpx;
}

.m-lr-8 {
	margin-left: 16rpx;
	margin-right: 16rpx;
}

.m-lr-9 {
	margin-left: 18rpx;
	margin-right: 18rpx;
}

.m-lr-10 {
	margin-left: 20rpx;
	margin-right: 20rpx;
}

.m-lr-11 {
	margin-left: 22rpx;
	margin-right: 22rpx;
}

.m-lr-12 {
	margin-left: 24rpx;
	margin-right: 24rpx;
}

.m-lr-13 {
	margin-left: 26rpx;
	margin-right: 26rpx;
}

.m-lr-14 {
	margin-left: 28rpx;
	margin-right: 28rpx;
}

.m-lr-15 {
	margin-left: 30rpx;
	margin-right: 30rpx;
}

/* margin-tb */

.m-tb-1 {
	margin-top: 2rpx;
	margin-bottom: 2rpx;
}

.m-tb-2 {
	margin-top: 4rpx;
	margin-bottom: 4rpx;
}

.m-tb-3 {
	margin-top: 6rpx;
	margin-bottom: 6rpx;
}

.m-tb-4 {
	margin-top: 8rpx;
	margin-bottom: 8rpx;
}

.m-tb-5 {
	margin-top: 10rpx;
	margin-bottom: 10rpx;
}

.m-tb-6 {
	margin-top: 12rpx;
	margin-bottom: 12rpx;
}

.m-tb-7 {
	margin-top: 14rpx;
	margin-bottom: 14rpx;
}

.m-tb-8 {
	margin-top: 16rpx;
	margin-bottom: 16rpx;
}

.m-tb-9 {
	margin-top: 18rpx;
	margin-bottom: 18rpx;
}

.m-tb-10 {
	margin-top: 20rpx;
	margin-bottom: 20rpx;
}

.m-tb-11 {
	margin-top: 22rpx;
	margin-bottom: 22rpx;
}

.m-tb-12 {
	margin-top: 24rpx;
	margin-bottom: 24rpx;
}

.m-tb-13 {
	margin-top: 26rpx;
	margin-bottom: 26rpx;
}

.m-tb-14 {
	margin-top: 28rpx;
	margin-bottom: 28rpx;
}

.m-tb-15 {
	margin-top: 30rpx;
	margin-bottom: 30rpx;
}

/* margin-b */

.m-b-1 {
	margin-bottom: 2rpx;
}

.m-b-2 {
	margin-bottom: 4rpx;
}

.m-b-3 {
	margin-bottom: 6rpx;
}

.m-b-4 {
	margin-bottom: 8rpx;
}

.m-b-5 {
	margin-bottom: 10rpx;
}

.m-b-6 {
	margin-bottom: 12rpx;
}

.m-b-7 {
	margin-bottom: 14rpx;
}

.m-b-8 {
	margin-bottom: 16rpx;
}

.m-b-9 {
	margin-bottom: 18rpx;
}

.m-b-10 {
	margin-bottom: 20rpx;
}

.m-b-11 {
	margin-bottom: 22rpx;
}

.m-b-12 {
	margin-bottom: 24rpx;
}

.m-b-13 {
	margin-bottom: 26rpx;
}

.m-b-14 {
	margin-bottom: 28rpx;
}

.m-b-15 {
	margin-bottom: 30rpx;
}

/* margin-t */

/* margin-b */

.m-t-1 {
	margin-top: 2rpx;
}

.m-t-2 {
	margin-top: 4rpx;
}

.m-t-3 {
	margin-top: 6rpx;
}

.m-t-4 {
	margin-top: 8rpx;
}

.m-t-5 {
	margin-top: 10rpx;
}

.m-t-6 {
	margin-top: 12rpx;
}

.m-t-7 {
	margin-top: 14rpx;
}

.m-t-8 {
	margin-top: 16rpx;
}

.m-t-9 {
	margin-top: 18rpx;
}

.m-t-10 {
	margin-top: 20rpx;
}

.m-t-11 {
	margin-top: 22rpx;
}

.m-t-12 {
	margin-top: 24rpx;
}

.m-t-13 {
	margin-top: 26rpx;
}

.m-t-14 {
	margin-top: 28rpx;
}

.m-t-15 {
	margin-top: 30rpx;
}

.m-l-1 {
	margin-left: 2rpx;
}

.m-l-2 {
	margin-left: 4rpx;
}

.m-l-3 {
	margin-left: 6rpx;
}

.m-l-4 {
	margin-left: 8rpx;
}

.m-l-5 {
	margin-left: 10rpx;
}

.m-l-6 {
	margin-left: 12rpx;
}

.m-l-7 {
	margin-left: 14rpx;
}

.m-l-8 {
	margin-left: 16rpx;
}

.m-l-9 {
	margin-left: 18rpx;
}

.m-l-10 {
	margin-left: 20rpx;
}

.m-l-11 {
	margin-left: 22rpx;
}

.m-l-12 {
	margin-left: 24rpx;
}

.m-l-13 {
	margin-left: 26rpx;
}

.m-l-14 {
	margin-left: 28rpx;
}

.m-l-15 {
	margin-left: 30rpx;
}

.m-r-1 {
	margin-right: 2rpx;
}

.m-r-2 {
	margin-right: 4rpx;
}

.m-r-3 {
	margin-right: 6rpx;
}

.m-r-4 {
	margin-right: 8rpx;
}

.m-r-5 {
	margin-right: 10rpx;
}

.m-r-6 {
	margin-right: 12rpx;
}

.m-r-7 {
	margin-right: 14rpx;
}

.m-r-8 {
	margin-right: 16rpx;
}

.m-r-9 {
	margin-right: 18rpx;
}

.m-r-10 {
	margin-right: 20rpx;
}

.m-r-11 {
	margin-right: 22rpx;
}

.m-r-12 {
	margin-right: 24rpx;
}

.m-r-13 {
	margin-right: 26rpx;
}

.m-r-14 {
	margin-right: 28rpx;
}

.m-r-15 {
	margin-right: 30rpx;
}

.h-10 {
	height: 10%;
}

.h-20 {
	height: 20%;
}

.h-30 {
	height: 30%;
}

.h-40 {
	height: 40%;
}

.h-50 {
	height: 50%;
}

.h-60 {
	height: 60%;
}

.h-70 {
	height: 70%;
}

.h-80 {
	height: 80%;
}

.h-90 {
	height: 90%;
}

.h-100 {
	height: 100%;
}

.w-10 {
	width: 10%;
}

.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

.w-40 {
	width: 40%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.w-70 {
	width: 70%;
}

.w-80 {
	width: 80%;
}

.w-90 {
	width: 90%;
}

.w-100 {
	width: 100%;
}

.bg-color {
	background-color: #f4f6f6;
}

.bg-white {
	background-color: white;
}

.bg-red {
	background-color: red;
}

.bg-green {
	background-color: green;
}

.bg-orange {
	background-color: orange;
}

.shadow {
	box-shadow: 0rpx 0rpx 20rpx rgba(0, 0, 0, 0.1);
	border-radius: 20rpx;
}

/* 圆角 */
.border-radius {
	border-radius: 50%;

}

.border-radius-0 {
	border-radius: 0rpx;
}

.border-radius-1 {
	border-radius: 2rpx;
}

.border-radius-2 {
	border-radius: 4rpx;
}

.border-radius-3 {
	border-radius: 6rpx;
}

.border-radius-4 {
	border-radius: 8rpx;
}

.border-radius-5 {
	border-radius: 10rpx;
}

.border-radius-6 {
	border-radius: 12rpx;
}

.border-radius-7 {
	border-radius: 14rpx;
}

.border-radius-8 {
	border-radius: 16rpx;
}

.border-radius-9 {
	border-radius: 18rpx;
}

.border-radius-10 {
	border-radius: 20rpx;
}

.border-radius-11 {
	border-radius: 22rpx;
}

.border-radius-12 {
	border-radius: 24rpx;
}

.border-radius-13 {
	border-radius: 26rpx;
}

.border-radius-14 {
	border-radius: 28rpx;
}

.border-radius-15 {
	border-radius: 30rpx;
}


.text-maxline-one {
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
}

.text-maxline-two {
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
}

.text-maxline-three {
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
}

.text-maxline-more {
	text-overflow: ellipsis;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
}

/* 字体大小 */

.font-size-default {
	font-size: 28rpx;
}

.font-size-6 {
	font-size: 12rpx;
}

.font-size-7 {
	font-size: 14rpx;
}

.font-size-8 {
	font-size: 16rpx;
}

.font-size-9 {
	font-size: 18rpx;
}

.font-size-10 {
	font-size: 20rpx;
}

.font-size-11 {
	font-size: 22rpx;
}

.font-size-12 {
	font-size: 24rpx;
}

.font-size-13 {
	font-size: 26rpx;
}

.font-size-14 {
	font-size: 28rpx;
}

.font-size-15 {
	font-size: 30rpx;
}

.font-size-16 {
	font-size: 32rpx;
}

.font-size-17 {
	font-size: 34rpx;
}

.font-size-18 {
	font-size: 36rpx;
}

.font-size-19 {
	font-size: 38rpx;
}

.font-size-20 {
	font-size: 40rpx;
}

/* grid */

.grid-one {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 20rpx;
	align-content: flex-start;
}

.grid-two {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20rpx;
	align-content: flex-start;
}

.grid-three {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20rpx;
	align-content: flex-start;
}

.grid-four {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 20rpx;
	align-content: flex-start;
}

.grid-five {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-gap: 20rpx;
	align-content: flex-start;
}

.grid-gap-0 {
	grid-gap: 0rpx;
}

.grid-gap-1 {
	grid-gap: 2rpx;
}

.grid-gap-2 {
	grid-gap: 4rpx;
}

.grid-gap-3 {
	grid-gap: 6rpx;
}

.grid-gap-4 {
	grid-gap: 8rpx;
}

.grid-gap-5 {
	grid-gap: 10rpx;
}

.grid-gap-6 {
	grid-gap: 12rpx;
}

.grid-gap-7 {
	grid-gap: 14rpx;
}

.grid-gap-8 {
	grid-gap: 16rpx;
}

.grid-gap-9 {
	grid-gap: 18rpx;
}

.grid-gap-10 {
	grid-gap: 20rpx;
}

.grid-gap-11 {
	grid-gap: 22rpx;
}

.grid-gap-12 {
	grid-gap: 24rpx;
}

.grid-gap-13 {
	grid-gap: 26rpx;
}

.grid-gap-14 {
	grid-gap: 28rpx;
}

.grid-gap-15 {
	grid-gap: 30rpx;
}

/* borer */

.border {
	border: 2rpx solid rgb(238, 239, 239) !important;
}

.border-top {
	border-top: 2rpx solid rgb(238, 239, 239) !important;
}

.border-right {
	border-right: 2rpx solid rgb(238, 239, 239) !important;
}

.border-bottom {
	border-bottom: 2rpx solid rgb(238, 239, 239) !important;
}

.border-left {
	border-left: 2rpx solid rgb(238, 239, 239) !important;
}

.border-0 {
	border: 0 !important;
}

.border-top-0 {
	border-top: 0 !important;
}

.border-right-0 {
	border-right: 0 !important;
}

.border-bottom-0 {
	border-bottom: 0 !important;
}

.border-left-0 {
	border-left: 0 !important;
}

.border-primary {
	border-color: #007bff !important;
}

.border-secondary {
	border-color: #6c757d !important;
}

.border-success {
	border-color: #28a745 !important;
}

.border-info {
	border-color: #17a2b8 !important;
}

.border-warning {
	border-color: #ffc107 !important;
}

.border-danger {
	border-color: #dc3545 !important;
}

.border-light {
	border-color: #f8f9fa !important;
}

.border-dark {
	border-color: #343a40 !important;
}

.border-white {
	border-color: #fff !important;
}

.border-last-none:nth-last-of-type(1) {
	border-bottom: none !important;
}

/* 全大小 */

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-lowercase {
	text-transform: lowercase;
}

/* 底层 */

.fixed-bottom {
	position: fixed;
	bottom: 0rpx;
	left: 0rpx;
	right: 0rpx;
	z-index: 30;
}

.text-delete {
	text-decoration: line-through;
}

.text-xt-left {
	font-style: italic;
}

.text-autoline {
	word-wrap: break-word;
	word-break: break-all;
	width: 100%;
}

.text-between {
	text-align: justify;
	text-align-last: justify;
	-moz-text-align-last: right;
}

/* 授权登录 */

.fixed-all {
	position: fixed;
	top: 0rpx;
	bottom: 0rpx;
	right: 0rpx;
	left: 0rpx;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

/* p-r 定位*/
.p_r {
	position: relative;
}

.p_a {
	position: absolute;
}

.p_f {
	position: fixed;
}

.p_s {
	position: sticky;
}

.p_a_all {
	top: 0rpx;
	left: 0rpx;
	right: 0rpx;
	bottom: 0rpx;
}

/* 覆盖不是图 */
.cover-sup {
	left: 0rpx;
	right: 0rpx;
	top: 0rpx;
	bottom: 0rpx;
}

/*透明*/
.bg-t {
	background-color: transparent;

}

.overflow_scroll {
	overflow: scroll;
}



/* ==================
         模态窗口
 ==================== */

.fixed-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1110;
	opacity: 0;
	outline: 0;
	text-align: center;
	-ms-transform: scale(1.185);
	transform: scale(1.185);
	backface-visibility: hidden;
	perspective: 2000upx;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease-in-out 0s;
	pointer-events: none;
}

.fixed-modal::before {
	/* 	content: "\200B";
	display: inline-block;
	height: 100%;
	vertical-align: middle; */
}

.fixed-modal.show {
	opacity: 1;
	transition-duration: 0.3s;
	-ms-transform: scale(1);
	transform: scale(1);
	overflow-x: hidden;
	overflow-y: auto;
	pointer-events: auto;
}

.fixed-modal.bottom-modal::before {
	vertical-align: bottom;
}

.fixed-modal.bottom-modal .cu-dialog {
	width: 100%;
	border-radius: 0;
}

.fixed-modal.bottom-modal {
	margin-bottom: -1000urpx;
}

.fixed-modal.bottom-modal.show {
	margin-bottom: 0;
}

.font-20 {
	font-size: 20rpx;
}

.font-22 {
	font-size: 22rpx;
}

.font-24 {
	font-size: 24rpx;
}

.font-26 {
	font-size: 26rpx;
}

.font-28 {
	font-size: 28rpx;
}

.font-30 {
	font-size: 30rpx;
}

.font-32 {
	font-size: 32rpx;
}

.font-34 {
	font-size: 34rpx;
}

.font-36 {
	font-size: 36rpx;
}

.font-38 {
	font-size: 38rpx;
}

.font-40 {
	font-size: 40rpx;
}
